<hr style="border:5px solid #108999"> </hr>

# Additional Python Tools <hr style="border:4.5px solid #108999"> </hr>

## Using the .format() Method

In [1]:
time_horizon = 1, 3, 12
time_horizon

(1, 3, 12)

In [3]:
products = ['Product A', 'Product B']
products

['Product A', 'Product B']

In [4]:
'Expected sales for a period of {} month(s) for {}:'.format(12, 'Product B')

'Expected sales for a period of 12 month(s) for Product B:'

In [7]:
'Expected sales for a period of {} month(s) for {}:'.format(time_horizon, products)

"Expected sales for a period of (1, 3, 12) month(s) for ['Product A', 'Product B']:"

In [9]:
'Expected sales for a period of {} month(s) for {}:'.format(time_horizon[2], products[1])

'Expected sales for a period of 12 month(s) for Product B:'

In [11]:
'Expected sales for a period of {0} month(s) for {1}:'.format(time_horizon[2], products[1])

'Expected sales for a period of 12 month(s) for Product B:'

In [13]:
'Expected sales for a period of {1} month(s) for {0}:'.format(time_horizon[2], products[1])

'Expected sales for a period of Product B month(s) for 12:'

In [15]:
'Expected sales for a period of {t_hor} month(s) for {prod}:'.format(t_hor = 12, prod = 'Product B')

'Expected sales for a period of 12 month(s) for Product B:'

In [17]:
'Expected sales for a period of {t_hor} month(s) for {prod}:'.format(t_hor = 12, prod = ['Product A', 'Product B'])

"Expected sales for a period of 12 month(s) for ['Product A', 'Product B']:"

In [19]:
'Expected sales for a period of {t_hor} month(s) for {prod[1]}:'.format(t_hor = 12, prod = ['Product A', 'Product B'])

'Expected sales for a period of 12 month(s) for Product B:'

In [21]:
'Expected sales for a period of {t_hor[2]} month(s) for {prod[1]}:'.format(t_hor = time_horizon, prod = products)

'Expected sales for a period of 12 month(s) for Product B:'

In [23]:
'Expected sales for a period of {t_hor[2]} month(s) for {prod[1]}: ${sales}.'.format(t_hor = time_horizon, prod = products, sales = 10000)

'Expected sales for a period of 12 month(s) for Product B: $10000.'

In [25]:
'Expected sales for a period of {0} month(s) for {prod[1]}: ${sales}.'.format(12, prod = products, sales = 10000)

'Expected sales for a period of 12 month(s) for Product B: $10000.'

## Iterating over Range Objects

In [28]:
t = (4,5,6,7)
t

(4, 5, 6, 7)

In [30]:
l = [10.5, 20.75, 30.00]
l

[10.5, 20.75, 30.0]

In [32]:
s = 'abcde'
s

'abcde'

In [34]:
for i in t:
    print(i, end = " ")

4 5 6 7

In [36]:
help('range')

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [38]:
range(5)

range(0, 5)

In [40]:
for i in range(5):
    print(i, end = " ")

0 1 2 3 4

## Nested For Loops - Introduction

In [43]:
for i in range(2):
    print (i)

0
1

In [45]:
for j in range(5):
    print (j)

0
1
2
3
4

In [47]:
for i in range(2):
    for j in range(5):
        print (j)

0
1
2
3
4
0
1
2
3
4

In [49]:
for i in range(2):
    for j in range(5):
        print ([i,j])

[0, 0]
[0, 1]
[0, 2]
[0, 3]
[0, 4]
[1, 0]
[1, 1]
[1, 2]
[1, 3]
[1, 4]

In [51]:
for i in ["Product A", "Product B"]:
    for j in range(5):
        print ([i,j])

['Product A', 0]
['Product A', 1]
['Product A', 2]
['Product A', 3]
['Product A', 4]
['Product B', 0]
['Product B', 1]
['Product B', 2]
['Product B', 3]
['Product B', 4]

In [53]:
products = ["Product A", "Product B"]
exp_sales = [10000, 11000, 12000, 13000, 14000]

In [55]:
for i in products:
    for j in exp_sales:
        print ([i,j])

['Product A', 10000]
['Product A', 11000]
['Product A', 12000]
['Product A', 13000]
['Product A', 14000]
['Product B', 10000]
['Product B', 11000]
['Product B', 12000]
['Product B', 13000]
['Product B', 14000]

## Triple Nested For Loops

In [58]:
products = ["Product A", "Product B"]
exp_sales = [10000, 11000, 12000, 13000, 14000]

In [60]:
time_horizon = (1, 3, 12)

In [62]:
for i in products:
        for j in exp_sales:
            for k in time_horizon:
                print ([i, j*k])

['Product A', 10000]
['Product A', 30000]
['Product A', 120000]
['Product A', 11000]
['Product A', 33000]
['Product A', 132000]
['Product A', 12000]
['Product A', 36000]
['Product A', 144000]
['Product A', 13000]
['Product A', 39000]
['Product A', 156000]
['Product A', 14000]
['Product A', 42000]
['Product A', 168000]
['Product B', 10000]
['Product B', 30000]
['Product B', 120000]
['Product B', 11000]
['Product B', 33000]
['Product B', 132000]
['Product B', 12000]
['Product B', 36000]
['Product B', 144000]
['Product B', 13000]
['Product B', 39000]
['Product B', 156000]
['Product B', 14000]
['Product B', 42000]
['Product B', 168000]

In [64]:
for prod in products:
    for sale in exp_sales:
        for t_hor in time_horizon:
            print ([prod, sale*t_hor])

['Product A', 10000]
['Product A', 30000]
['Product A', 120000]
['Product A', 11000]
['Product A', 33000]
['Product A', 132000]
['Product A', 12000]
['Product A', 36000]
['Product A', 144000]
['Product A', 13000]
['Product A', 39000]
['Product A', 156000]
['Product A', 14000]
['Product A', 42000]
['Product A', 168000]
['Product B', 10000]
['Product B', 30000]
['Product B', 120000]
['Product B', 11000]
['Product B', 33000]
['Product B', 132000]
['Product B', 12000]
['Product B', 36000]
['Product B', 144000]
['Product B', 13000]
['Product B', 39000]
['Product B', 156000]
['Product B', 14000]
['Product B', 42000]
['Product B', 168000]

In [66]:
for prod in products:
    for sale in exp_sales:
        for t_hor in time_horizon:
            print ('Expected sales for a period of {0} month(s) for {1}: ${sales}'.format(t_hor, prod, sales = sale * t_hor))

Expected sales for a period of 1 month(s) for Product A: $10000
Expected sales for a period of 3 month(s) for Product A: $30000
Expected sales for a period of 12 month(s) for Product A: $120000
Expected sales for a period of 1 month(s) for Product A: $11000
Expected sales for a period of 3 month(s) for Product A: $33000
Expected sales for a period of 12 month(s) for Product A: $132000
Expected sales for a period of 1 month(s) for Product A: $12000
Expected sales for a period of 3 month(s) for Product A: $36000
Expected sales for a period of 12 month(s) for Product A: $144000
Expected sales for a period of 1 month(s) for Product A: $13000
Expected sales for a period of 3 month(s) for Product A: $39000
Expected sales for a period of 12 month(s) for Product A: $156000
Expected sales for a period of 1 month(s) for Product A: $14000
Expected sales for a period of 3 month(s) for Product A: $42000
Expected sales for a period of 12 month(s) for Product A: $168000
Expected sales for a period of 1 month(s) for Product B: $10000
Expected sales for a period of 3 month(s) for Product B: $30000
Expected sales for a period of 12 month(s) for Product B: $120000
Expected sales for a period of 1 month(s) for Product B: $11000
Expected sales for a period of 3 month(s) for Product B: $33000
Expected sales for a period of 12 month(s) for Product B: $132000
Expected sales for a period of 1 month(s) for Product B: $12000
Expected sales for a period of 3 month(s) for Product B: $36000
Expected sales for a period of 12 month(s) for Product B: $144000
Expected sales for a period of 1 month(s) for Product B: $13000
Expected sales for a period of 3 month(s) for Product B: $39000
Expected sales for a period of 12 month(s) for Product B: $156000
Expected sales for a period of 1 month(s) for Product B: $14000
Expected sales for a period of 3 month(s) for Product B: $42000
Expected sales for a period of 12 month(s) for Product B: $168000

In [68]:
for prod in products:
    for t_hor in time_horizon:
        for sale in exp_sales:
            print ('Expected sales for a period of {0} month(s) for {1}: ${sales}'.format(t_hor, prod, sales = sale * t_hor))

Expected sales for a period of 1 month(s) for Product A: $10000
Expected sales for a period of 1 month(s) for Product A: $11000
Expected sales for a period of 1 month(s) for Product A: $12000
Expected sales for a period of 1 month(s) for Product A: $13000
Expected sales for a period of 1 month(s) for Product A: $14000
Expected sales for a period of 3 month(s) for Product A: $30000
Expected sales for a period of 3 month(s) for Product A: $33000
Expected sales for a period of 3 month(s) for Product A: $36000
Expected sales for a period of 3 month(s) for Product A: $39000
Expected sales for a period of 3 month(s) for Product A: $42000
Expected sales for a period of 12 month(s) for Product A: $120000
Expected sales for a period of 12 month(s) for Product A: $132000
Expected sales for a period of 12 month(s) for Product A: $144000
Expected sales for a period of 12 month(s) for Product A: $156000
Expected sales for a period of 12 month(s) for Product A: $168000
Expected sales for a period of 1 month(s) for Product B: $10000
Expected sales for a period of 1 month(s) for Product B: $11000
Expected sales for a period of 1 month(s) for Product B: $12000
Expected sales for a period of 1 month(s) for Product B: $13000
Expected sales for a period of 1 month(s) for Product B: $14000
Expected sales for a period of 3 month(s) for Product B: $30000
Expected sales for a period of 3 month(s) for Product B: $33000
Expected sales for a period of 3 month(s) for Product B: $36000
Expected sales for a period of 3 month(s) for Product B: $39000
Expected sales for a period of 3 month(s) for Product B: $42000
Expected sales for a period of 12 month(s) for Product B: $120000
Expected sales for a period of 12 month(s) for Product B: $132000
Expected sales for a period of 12 month(s) for Product B: $144000
Expected sales for a period of 12 month(s) for Product B: $156000
Expected sales for a period of 12 month(s) for Product B: $168000

## List Comprehensions

In [71]:
numbers = [1, 13, 4, 5, 63, 100]
numbers

[1, 13, 4, 5, 63, 100]

In [73]:
new_numbers = []

for n in numbers:
    new_numbers.append(n * 2)

print(new_numbers)

[2, 26, 8, 10, 126, 200]

In [75]:
new_numbers = [n * 2 for n in numbers]
print(new_numbers)

[2, 26, 8, 10, 126, 200]

In [77]:
type(new_numbers)

list

In [79]:
# print(new_numbers)

In [81]:
for i in range(2):
    for j in range(5):
        print(i + j, end = " ")

0 1 2 3 4 1 2 3 4 5

In [83]:
new_list_comprehension_1 = [i+j for i in range(2) for j in range(5)]
new_list_comprehension_1

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [85]:
type(new_list_comprehension_1)

list

In [87]:
print(new_list_comprehension_1)

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [89]:
new_list_comprehension_2 = [[i+j for i in range(2)] for j in range(5)]
new_list_comprehension_2

[[0, 1], [1, 2], [2, 3], [3, 4], [4, 5]]

In [91]:
type(new_list_comprehension_2)

list

In [93]:
type(new_list_comprehension_1[1])

int

In [95]:
type(new_list_comprehension_2[1])

list

With conditions:

- on the iterable

In [99]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [101]:
[num ** 3 for num in range(1, 11) if num % 2 != 0 ]

[1, 27, 125, 343, 729]

In [103]:
for i in range(1, 11):
    if i % 2 != 0:
        print(i ** 3, end = " ")

1 27 125 343 729

In [111]:
[num ** 3 if num % 2 != 0 else num for num in range(1, 11)]

[1, 2, 27, 4, 125, 6, 343, 8, 729, 10]

In [113]:
[num ** 3 if num % 2 != 0 else "even" for num in range(1, 11)]

[1, 'even', 27, 'even', 125, 'even', 343, 'even', 729, 'even']

## Lambda Functions in Python

In [116]:
def raise_to_the_power_of_2(x):
    return x ** 2

In [118]:
raise_to_the_power_of_2(3)

9

In [120]:
lambda x: x ** 2

In [122]:
raise_to_the_power_of_2_lambda = lambda x: x ** 2

In [124]:
raise_to_the_power_of_2_lambda(3)

9

In [126]:
(lambda x: x / 2)(11)

5.5

In [128]:
(lambda x: (2 + 5 * x ** 4) ** 2 / (x + 3) ** 3)(2)

53.792

In [130]:
sum_xy = lambda x, y: x + y
sum_xy(2,3)

5

In [143]:
# sum_xy = lambda x, y: x + y(x)
# You defined a lambda with parameters x and y.

# Inside, you wrote x + y(x).

# That means: “call y as a function, passing x as an argument, then add x to the result.”

# But when you call sum_xy(2, 3), you pass:

# x = 2

# y = 3

# Then it tries to evaluate y(x) → which means 3(2) → but 3 is not a function, it’s just an integer → TypeError.

#fix
sum_xy = lambda x, y: x + y(x)
print(sum_xy(2, lambda z: z**2))

6

In [147]:
sum_xy(2,lambda z: z**2)

6

In [153]:
sum_xy(2,lambda z: z**3)

10

In [155]:
sum_xy(2, lambda x: x * 5)

12