<hr style="border:5px solid #108999"> </hr>

# Additional Python Tools <hr style="border:4.5px solid #108999"> </hr>

## Using the .format() Method

Consider the following string.

In [1]:
"{} expect their next year's sales of Q{} to {}."

"{} expect their next year's sales of Q{} to {}."

Use the **.format()** method to substitute the pairs of braces in the string with the following three values, thus obtaining information about the sales of Company A for the third quarter of next year:
<br>'Company A'
<br>3
<br>'increase'

In [6]:
result = "{} expect their next year's sales of Q{} to {}.".format('Company A', 3, 'increase')
result

"Company A expect their next year's sales of Q3 to increase."

Execute the next cell to create three variables that store information about companies, quarters and sales performance predictions, respectively.

In [9]:
companies = ['Company A', 'Company B']
quarter = [1, 2, 3, 4]
sales_performance_prediction = ['increase', 'decrease', 'remain the same']

Obtain the same output as above while referring to the three lists you just created. Help yourself with using appropriate indexing.
<br>Here's the output you need to aim for as a reference.
<br>"Company A expect their next year's sales of Q3 to increase."

In [12]:
result = "{} expect their next year's sales of Q{} to {}.".format(
    companies[0],         # 'Company A'
    quarter[2],           # 3 (3rd quarter, index 2)
    sales_performance_prediction[0]  # 'increase'
)

result

"Company A expect their next year's sales of Q3 to increase."

Feel free to experiment with the same line of code while referencing different values from the three lists that have been given.

Here's an example:

In [16]:
"{} expect their next year's sales of Q{} to {}.".format(companies[1], quarter[3], sales_performance_prediction[2])

"Company B expect their next year's sales of Q4 to remain the same."

## Iterating Over Range Objects, <br><br> Nested For Loops - Introduction, <br><br> Triple Nested For Loops

Create a 'range' object with a stop value of 10. 
Do this operation twice - once without indicating a start value, and then by indicating the start value of 0.

In [20]:
r1 = range(10)

In [22]:
list(r1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
r2 = range(0, 10)

In [26]:
list(r2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Turn this 'range' object into a list of values.

In [33]:
list(r2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Obtain all integers from 0 to 9 again, this time using a for-loop with a range() function. Let Python display the values in the output vertically.

In [35]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

Repeat the same task, this time printing the values from the output on the same line.

In [37]:
for i in range(10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

Create a nested loop that delivers all possible combinations of the elements from the following two lists in the form of lists:

In [40]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]

In [42]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]

for product in products_on_sale:
    for price in sale_prices:
        print(f"{product} is of price {price}")

Chair_Type_1 is of price 100
Chair_Type_1 is of price 120
Chair_Type_1 is of price 135
Chair_Type_1 is of price 150
Chair_Type_2 is of price 100
Chair_Type_2 is of price 120
Chair_Type_2 is of price 135
Chair_Type_2 is of price 150
Chair_Type_3 is of price 100
Chair_Type_3 is of price 120
Chair_Type_3 is of price 135
Chair_Type_3 is of price 150
Chair_Type_4 is of price 100
Chair_Type_4 is of price 120
Chair_Type_4 is of price 135
Chair_Type_4 is of price 150

Consider the following list with data, which is our third for this exercise. It represents the possible quantities in which the relevant items can be put on sale.

In [45]:
quantities = [1000, 1500, 1300]

Create a triple nested loop that shows the potential revenue generated from each chair type. Use iterator variables with more meaningful names than letters such as i, j, k.
<br>Present two versions of the nested loop. Let the first one return a Python list where the chair type is the first element, while the potential revenue is the second element. 
<br>Then, let the second loop return a more presentable output, where the quantity and potential revenue have been explicitly stated.

In [47]:
for product in products_on_sale:
    for price in sale_prices:
        for quantity in quantities:
            potential_revenue = price * quantity
            print(f"{product}: Quantity = {quantity}, Price = {price}, Potential Revenue = {potential_revenue}")

Chair_Type_1: Quantity = 1000, Price = 100, Potential Revenue = 100000
Chair_Type_1: Quantity = 1500, Price = 100, Potential Revenue = 150000
Chair_Type_1: Quantity = 1300, Price = 100, Potential Revenue = 130000
Chair_Type_1: Quantity = 1000, Price = 120, Potential Revenue = 120000
Chair_Type_1: Quantity = 1500, Price = 120, Potential Revenue = 180000
Chair_Type_1: Quantity = 1300, Price = 120, Potential Revenue = 156000
Chair_Type_1: Quantity = 1000, Price = 135, Potential Revenue = 135000
Chair_Type_1: Quantity = 1500, Price = 135, Potential Revenue = 202500
Chair_Type_1: Quantity = 1300, Price = 135, Potential Revenue = 175500
Chair_Type_1: Quantity = 1000, Price = 150, Potential Revenue = 150000
Chair_Type_1: Quantity = 1500, Price = 150, Potential Revenue = 225000
Chair_Type_1: Quantity = 1300, Price = 150, Potential Revenue = 195000
Chair_Type_2: Quantity = 1000, Price = 100, Potential Revenue = 100000
Chair_Type_2: Quantity = 1500, Price = 100, Potential Revenue = 150000
Chair_Type_2: Quantity = 1300, Price = 100, Potential Revenue = 130000
Chair_Type_2: Quantity = 1000, Price = 120, Potential Revenue = 120000
Chair_Type_2: Quantity = 1500, Price = 120, Potential Revenue = 180000
Chair_Type_2: Quantity = 1300, Price = 120, Potential Revenue = 156000
Chair_Type_2: Quantity = 1000, Price = 135, Potential Revenue = 135000
Chair_Type_2: Quantity = 1500, Price = 135, Potential Revenue = 202500
Chair_Type_2: Quantity = 1300, Price = 135, Potential Revenue = 175500
Chair_Type_2: Quantity = 1000, Price = 150, Potential Revenue = 150000
Chair_Type_2: Quantity = 1500, Price = 150, Potential Revenue = 225000
Chair_Type_2: Quantity = 1300, Price = 150, Potential Revenue = 195000
Chair_Type_3: Quantity = 1000, Price = 100, Potential Revenue = 100000
Chair_Type_3: Quantity = 1500, Price = 100, Potential Revenue = 150000
Chair_Type_3: Quantity = 1300, Price = 100, Potential Revenue = 130000
Chair_Type_3: Quantity = 1000, Price = 120, Potential Revenue = 120000
Chair_Type_3: Quantity = 1500, Price = 120, Potential Revenue = 180000
Chair_Type_3: Quantity = 1300, Price = 120, Potential Revenue = 156000
Chair_Type_3: Quantity = 1000, Price = 135, Potential Revenue = 135000
Chair_Type_3: Quantity = 1500, Price = 135, Potential Revenue = 202500
Chair_Type_3: Quantity = 1300, Price = 135, Potential Revenue = 175500
Chair_Type_3: Quantity = 1000, Price = 150, Potential Revenue = 150000
Chair_Type_3: Quantity = 1500, Price = 150, Potential Revenue = 225000
Chair_Type_3: Quantity = 1300, Price = 150, Potential Revenue = 195000
Chair_Type_4: Quantity = 1000, Price = 100, Potential Revenue = 100000
Chair_Type_4: Quantity = 1500, Price = 100, Potential Revenue = 150000
Chair_Type_4: Quantity = 1300, Price = 100, Potential Revenue = 130000
Chair_Type_4: Quantity = 1000, Price = 120, Potential Revenue = 120000
Chair_Type_4: Quantity = 1500, Price = 120, Potential Revenue = 180000
Chair_Type_4: Quantity = 1300, Price = 120, Potential Revenue = 156000
Chair_Type_4: Quantity = 1000, Price = 135, Potential Revenue = 135000
Chair_Type_4: Quantity = 1500, Price = 135, Potential Revenue = 202500
Chair_Type_4: Quantity = 1300, Price = 135, Potential Revenue = 175500
Chair_Type_4: Quantity = 1000, Price = 150, Potential Revenue = 150000
Chair_Type_4: Quantity = 1500, Price = 150, Potential Revenue = 225000
Chair_Type_4: Quantity = 1300, Price = 150, Potential Revenue = 195000

## List Comprehensions

Execute the code cell below to create the following three lists: **products_on_sale**, **sale_prices**, **quantities**

In [49]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]
quantities = [1000, 1500, 1300]

The following code cell will execute a nested loop that will deliver all possible combinations of the elements from the **products_on_sale**, **sale_prices** and **quantities** lists:

In [52]:
for chair_type in products_on_sale:
    for price in sale_prices:
        for quantity in quantities:
            print ([chair_type, price*quantity])

['Chair_Type_1', 100000]
['Chair_Type_1', 150000]
['Chair_Type_1', 130000]
['Chair_Type_1', 120000]
['Chair_Type_1', 180000]
['Chair_Type_1', 156000]
['Chair_Type_1', 135000]
['Chair_Type_1', 202500]
['Chair_Type_1', 175500]
['Chair_Type_1', 150000]
['Chair_Type_1', 225000]
['Chair_Type_1', 195000]
['Chair_Type_2', 100000]
['Chair_Type_2', 150000]
['Chair_Type_2', 130000]
['Chair_Type_2', 120000]
['Chair_Type_2', 180000]
['Chair_Type_2', 156000]
['Chair_Type_2', 135000]
['Chair_Type_2', 202500]
['Chair_Type_2', 175500]
['Chair_Type_2', 150000]
['Chair_Type_2', 225000]
['Chair_Type_2', 195000]
['Chair_Type_3', 100000]
['Chair_Type_3', 150000]
['Chair_Type_3', 130000]
['Chair_Type_3', 120000]
['Chair_Type_3', 180000]
['Chair_Type_3', 156000]
['Chair_Type_3', 135000]
['Chair_Type_3', 202500]
['Chair_Type_3', 175500]
['Chair_Type_3', 150000]
['Chair_Type_3', 225000]
['Chair_Type_3', 195000]
['Chair_Type_4', 100000]
['Chair_Type_4', 150000]
['Chair_Type_4', 130000]
['Chair_Type_4', 120000]
['Chair_Type_4', 180000]
['Chair_Type_4', 156000]
['Chair_Type_4', 135000]
['Chair_Type_4', 202500]
['Chair_Type_4', 175500]
['Chair_Type_4', 150000]
['Chair_Type_4', 225000]
['Chair_Type_4', 195000]

Use a list comprehension to obtain the same output. Store it in a variable called **sales_revenue**. <br/>
Make sure you refrain from obtaining any inexistent "None" values.

In [54]:

sales_revenue = [
    [product, price * quantity]
    for product in products_on_sale
    for price in sale_prices
    for quantity in quantities
]

print(sales_revenue)

[['Chair_Type_1', 100000], ['Chair_Type_1', 150000], ['Chair_Type_1', 130000], ['Chair_Type_1', 120000], ['Chair_Type_1', 180000], ['Chair_Type_1', 156000], ['Chair_Type_1', 135000], ['Chair_Type_1', 202500], ['Chair_Type_1', 175500], ['Chair_Type_1', 150000], ['Chair_Type_1', 225000], ['Chair_Type_1', 195000], ['Chair_Type_2', 100000], ['Chair_Type_2', 150000], ['Chair_Type_2', 130000], ['Chair_Type_2', 120000], ['Chair_Type_2', 180000], ['Chair_Type_2', 156000], ['Chair_Type_2', 135000], ['Chair_Type_2', 202500], ['Chair_Type_2', 175500], ['Chair_Type_2', 150000], ['Chair_Type_2', 225000], ['Chair_Type_2', 195000], ['Chair_Type_3', 100000], ['Chair_Type_3', 150000], ['Chair_Type_3', 130000], ['Chair_Type_3', 120000], ['Chair_Type_3', 180000], ['Chair_Type_3', 156000], ['Chair_Type_3', 135000], ['Chair_Type_3', 202500], ['Chair_Type_3', 175500], ['Chair_Type_3', 150000], ['Chair_Type_3', 225000], ['Chair_Type_3', 195000], ['Chair_Type_4', 100000], ['Chair_Type_4', 150000], ['Chair_Type_4', 130000], ['Chair_Type_4', 120000], ['Chair_Type_4', 180000], ['Chair_Type_4', 156000], ['Chair_Type_4', 135000], ['Chair_Type_4', 202500], ['Chair_Type_4', 175500], ['Chair_Type_4', 150000], ['Chair_Type_4', 225000], ['Chair_Type_4', 195000]]

**List comprehensions with Conditionals**
<br> <br> **Conditional on the iterable**

Use a list comprehension to return a list with all even numbers between 1 and 10 inclusive, multiplied by 10.

In [57]:
even_times_ten = [num * 10 for num in range(1, 11) if num % 2 == 0]

In [59]:
even_times_ten

[20, 40, 60, 80, 100]

We consider the previous answer as the Pythonic way to obtain the output because it involved the use of a list comprehension.
Can you think of a way to obtain identical output using a "Non-Pythonic" approach, specifically without employing list comprehensions?

In [61]:
even_times_ten = []
for num in range(1, 11):
    if num % 2 == 0:
        even_times_ten.append(num * 10)

print(even_times_ten)

[20, 40, 60, 80, 100]

**Conditional on the output**

Return a list that contains the element from range(1, 11) multiplied by 10 if the number is even, and "None" if that number is odd.

In [65]:
result = [num * 10 if num % 2 == 0 else "None" for num in range(1, 11)]
result

['None', 20, 'None', 40, 'None', 60, 'None', 80, 'None', 100]

## Anonymous Functions

Define a function called **multiply_by_10** that will return a value ten times bigger than the argument.

In [67]:
def multiply_by_10(number):
    return number * 10

In [71]:
multiply_by_10(3)

30

In [73]:
multiply_by_10(4)

40

In [77]:
multiply_by_10(7)

70

Apply **multiply_by_10** to the argument of 5. Clearly, you should obtain 50.

In [80]:
multiply_by_10(5)

50

#### Lambda Functions

This time, create **multiply_by_10** as a Lambda funciton. Execute it with an argument of 7.

In [82]:
multiply_by_10 = lambda x: x * 10
multiply_by_10(7)

70

Define a Lambda function named **product_xy** that returns the product of two parameters, x and y. Execute it with arguments 4 and 20.

In [86]:
product_xy = lambda x, y: x * y
product_xy(4, 20)

80

Create a Lambda function that returns the output of the following mathematical expression. Execute it with an argument of 13.

In [88]:
expr = lambda x: (135 - x**3)**4 / (1 + x)**5

print(expr(13))

33613556.48006783

In [90]:
(lambda x: (135 - x**3)**4 / (1 + x)**5)(13)

33613556.48006783